body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Rubik', sans-serif;
}

input:focus {
  outline: 2px solid rgb(173, 206, 255);
  outline-offset: 1px;
}
a:focus,
a:active,
input:active,
button:focus,
button:active {
  outline: none;
}

.border {
  border: 1px solid red;
}

.borderAll * {
  border: 1px solid red;
  padding: 2px;
}

/* Временные стили */
/* div {
  border: 1px solid red;
  padding: 4px;
  margin: 4px;
}

#root {
  border: none;
  padding: 0;
  margin: 0;
} */
/* Временные стили */
